.field{margin-bottom: 10px;}
.input{display: inline-block;border: 1px solid transparent;}
.input > input{padding: 3px 8px;}
.label{font-size: 1.5em;min-width: 75px; text-align: right}
.input, .label{display: inline-block}