.header{height: 80px; margin-bottom: 10px;}
.content{box-sizing: border-box; padding: 5px 20px;margin-left: 20px;display: inline-block;width: calc(100% - 140px);}
.sideBar{box-sizing: border-box; font-size: 1.3em; font-weight: 600;display: inline-block;float: left;margin-left: 10px;}
.sideBar, .content{border: 1px solid #CFCFCF; border-radius: 2px;min-height: calc(100% - 100px)}

