.pagination > span, .pagination > a{display: inline-block;padding: 2px 5px;background-color: #F4F4F5;box-sizing: border-box; margin-right: 5px;color: #606266; border-radius: 2px; min-width: 22px;text-align: center; font-weight: 700}
.pagination > a:hover{color: #409EFF}
.pagination .current{background-color: #409EFF; color: #ffffff;}
.pagination .disabled{color: #C0C8D7}
/*跳转页码输入框*/
.pagination form input.jump_num{margin:0 10px 0 5px; padding: 0 5px;width: 30px;}
